<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.author }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
		  <li><a href="{{ "/WHOF-Key.asc" | prepend: site.baseurl }}">Public key</a></li>
		  <br>
		  <li><p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2" align="left">
        <!-- <ul>
          <li>
            <a href="tags.html">Sort by tag</a>
          </li>

          <li>
            <a href="pages.html">Page list</a>
          </li>
        </ul> -->
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
