<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list"  style="font-size:11pt">
          <li>{{ site.author }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
		  <li><a href="{{ "/WHOF-Key.asc" | prepend: site.baseurl }}">Public key</a></li>
		  <br>
		  
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul>
          
		  <li>
			<!-- <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> -->
			<p class="rss-subscribe">Subscribe via RSS
			<a href="http://allium.github.io/WithoutHeadOrFoot/feed.xml" title="Subscribe to my feed"><img src="//static.addtoany.com/buttons/subscribe_16_16.gif" width="18" height="18" border="0"/></a><br>
			<script type="text/javascript">
			var a2a_config = a2a_config || {};
			a2a_config.linkname = "Without Head Or Foot";
			a2a_config.linkurl = "http://allium.github.io/WithoutHeadOrFoot/";
			a2a_config.onclick = 1;
			</script>
			<script type="text/javascript" src="//static.addtoany.com/menu/feed.js"></script>
			</p>
		  </li>
		  
		  <li>
			<div class="a2a_kit a2a_kit_size_18 a2a_default_style">
			<a class="a2a_dd" href="https://www.addtoany.com/share?linkurl=http%3A%2F%2Fallium.github.io%2FWithoutHeadOrFoot%2F&amp;linkname=Without%20Head%20Or%20Foot">Share</a>
			<span class="a2a_divider"></span>
			<a class="a2a_button_facebook"></a>
			<a class="a2a_button_twitter"></a>
			<a class="a2a_button_google_plus"></a>
			</div>
			<script type="text/javascript">
			var a2a_config = a2a_config || {};
			a2a_config.linkname = "Without Head Or Foot";
			a2a_config.linkurl = "http://allium.github.io/WithoutHeadOrFoot/";
			a2a_config.onclick = 1;
			</script>
			<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
		  </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
