---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
		{{ page.date | date: "%-d/%m/%Y" }}
		{% if page.author %}<br>
			{{ page.author }}
		{% endif %}
		{% if page.tags %}<br>
			<i>
			• <a href={{site.baseurl}}/tags.html>Tags</a>:
			{% for tag in page.tags %}
				<a href="{{ site.baseurl }}/tags.html#{{ tag }}-ref">{{ tag }}</a>
			{% endfor %}
			</i>
		{% endif %}
	</p>
	<p class=social-media-list>
		<div class="a2a_kit a2a_kit_size_14 a2a_default_style">
		<!-- <a class="a2a_dd" href="https://www.addtoany.com/share?linkurl=http%3A%2F%2Fallium.github.io%2FWithoutHeadOrFoot%2F&amp;linkname=Without%20Head%20Or%20Foot"font=8px>Share</a> -->
		<a> Share </a>
		<span class="a2a_divider"></span>
		<a class="a2a_button_facebook"></a>
		<a class="a2a_button_twitter"></a>
		<a class="a2a_button_google_plus"></a>
		</div>
		<script type="text/javascript">
		var a2a_config = a2a_config || {};
		a2a_config.linkname = "Without Head Or Foot";
		a2a_config.linkurl = {{ site.url }}{{ site.baseurl}}{{ page.url }};
		a2a_config.onclick = 1;
		</script>
		<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
	</p>
  </header>

  <br>

  <article class="post-content">
    {{ content }}
  </article>
 
  
  <br><br><br>
  {% include comment_template.html %}

</div>