---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
		{{ page.date | date: "%d/%m/%Y" }}
		{% if page.author %}<br>
			{{ page.author }}
		{% endif %}
		{% if page.tags %}<br>
			<i>
			• <a href={{site.baseurl}}/tags.html>Tags</a>:&nbsp;
			{% for tag in page.tags %}
				<a href="{{ site.baseurl }}/tags.html#{{ tag }}-ref">{{ tag }}</a>&nbsp;
			{% endfor %}
			</i>
		{% endif %}
	</p>

	<div class="a2a_kit a2a_kit_size_14 a2a_default_style">
		<a class="a2a_dd" style="font-size: 11pt" href="https://www.addtoany.com/share?linkurl={{ site.url }}{{ site.baseurl}}{{ page.url }};linkname=Without+Head+Or+Foot:+{{ page.title }}">Share</a>
		<!-- <a  style="font-size: 11pt; color:black; text-decoration:none">Share</a> -->
		<span class="a2a_divider"></span>
		<span><a class="a2a_button_facebook"></a>
		<a class="a2a_button_twitter"></a>
		<a class="a2a_button_google_plus"></a></span>
	</div>
	<script type="text/javascript">
		var a2a_config = a2a_config || {};
		a2a_config.linkname = "Without Head Or Foot: {{page.title}}";
		a2a_config.linkurl = {{ site.url }}{{ site.baseurl}}{{ page.url }};
		a2a_config.onclick = 1;
	</script>
	<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
	
  </header>

  <br>

  <article class="post-content">
    {{ content }}
  </article>
 
 
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>

 {% include comment_box.html %}
  
</div>